body {
    background-color: lightblue;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }

  //ceci ne va pas apparaitre dans le css
  /* Mais ceci va apparaitre dans le css */
  